{
        "EbsOptimized": false,
        "BlockDeviceMappings": [
            {
                "DeviceName": "/dev/xvda",
                "Ebs": {
                    "Encrypted": false,
                    "DeleteOnTermination": true,
                    "VolumeSize": 8,
                    "VolumeType": "gp2"
                }
            }
        ],
        "ImageId": "ami-09d95fab7fff3776c",
        "InstanceType": "t2.micro",
        "KeyName": "{{ key_name }}",
        "Monitoring": {
            "Enabled": false
        },
        "DisableApiTermination": false,
        "InstanceInitiatedShutdownBehavior": "stop",
        "UserData": "IyEvYmluL3NoCnl1bSB1cGRhdGUgLXk=",
        "CreditSpecification": {
            "CpuCredits": "standard"
        },
        "CapacityReservationSpecification": {
            "CapacityReservationPreference": "open"
        },
        "HibernationOptions": {
            "Configured": false
        }
}
